<template id="tmp_report" type="text/x-handlebars-template">
	<article class="status_color_coding">
		<ul>
			<li>Web3:\{{bind 'web3'}}</li>
			<li>Account:\{{bind 'account'}}</li>
			<li>Data:\{{bind 'data'}}</li>
			<li>Message:<span rv-class="state.report">\{{bind 'message'}}</span></li>
			<li>Token:\{{bind 'token'}}</li>
		</ul>
	</article>
</template>